*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #485563, #29323c);
}

.mobile-container {
    width: 25%;
    aspect-ratio: 3/5;
    background: linear-gradient(#ff4e50, #f9d423);
    border-radius: 2rem;
    padding: 10px;
    display: flex;
    align-items: end;
}

.navigation-bar {
    width: 100%;
    height: 60px;
    position: relative;
}

ul.menu {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #485563, #29323c);
    border-radius: 2rem;
    position: relative;
}

li.menu-item {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

li.menu-item:hover {
    color: #ffd500;
}

.more-button {
    height: 50px;
    width: 50px;
    background-color: #b32a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: xx-large;
    font-weight: bold;
    transition: transform 1s ease-in-out;
    cursor: pointer;
    z-index: 1;
}

/* but we need to control rotation using js */
.navigation-bar.active .more-button {
    transform: translateX(-50%) rotate(225deg);
}

.more-menu {
    position: absolute;
    width: 35%;
    height: 60px;
    background: linear-gradient(to right, #485563, #29323c);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 60px 60px;
    z-index: 0;
    transform-origin: top;
    transition: transform 1s ease-in-out;
}

.navigation-bar.active .more-menu {
    transform: translateX(-50%) rotate(180deg);
}

ul.circle {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li.circle-item {
    cursor: pointer;
    color: #cfc7c7;
    transform: rotate(180deg) translateY(-10px);
}

li.circle-item:nth-child(2) {
    transform: rotate(180deg) translateY(-35px);
}

li.circle-item:hover {
    color: #ffd500;
}

/* Cool */
/* Have a good time */